h1{
    color: blue;
    font-size: 20px;
}

button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #a5a5a5,
                -6px -6px 12px #ffffff;
   }
   
   button:hover {
    border: 1px solid white;
   }
   
   button:active {
    box-shadow: 4px 4px 12px #949494,
                -4px -4px 12px #ffffff;
}

body {background-color: #e8e8e8;}