/** @format */


body {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
  z-index: 1;
  height: 100%;

  margin: 0 auto;
  overflow: hidden;
  background-color: #e8e8e8;
}

p {
  font-size: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(94, 94, 94);
  margin: 0;
  padding: 0;
}

#downloadButton {
  align-content: center;
}

/*#workBody {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80%;
}*/

#sidebar {
  display: block;
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  left: -270px;
  background-color: #707070;
  z-index: 1;
  overflow-y: scroll;
  padding-left: 20px;
  padding-top: 50px;
  transition: 0.50s;
}

/* on sidebar hover animate left to 0*/
#sidebar:hover {
  left: 0;
  transition-timing-function: ease-in-out;
  background-color: #e8e8e8;
}

/*#canvasSection {

  margin-left: 50pt;
}*/

#canvasID {
  outline: 3px dashed rgba(28, 110, 164, 0.5);
  outline-offset: 3px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: -1;

}

h1 {
  color: rgba(78, 78, 255, 0.8);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  align-self: center;
}

h3 {
  color: rgba(78, 78, 255, 0.8);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2ex;
}

/*.abstract {
  color: #090909;
  padding: 0.5em 1em;
  font-size: 12px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 4px 4px 12px #969696, -4px -4px 12px #ffffff;
  margin: 10px;
  width: auto;
}*/
button {
  margin: 1ex;
  border: 0.5px solid
}

button:hover {
  border: 0.5px solid white;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.propertyText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: 100;
  margin-block-start: 0px;
  margin-block-end: 0px;
  vertical-align: 5px;
}

#colorpicker {
  width: 10px;
}

#drawing-mode-options {
  float: right;
  flex-wrap: wrap;
  display: flex;
}

.propertiesContainer {
  display: flex;
  flex-direction: row;
}

#drawing-mode-options {
  float: left;
}

#currentModeDiv {
  position: fixed;
  top: 20px;
  left: 50vw;
  background: rgba(102, 102, 102, 0);
  margin-right: 200px;
  border: rgba(102, 102, 102, 0);

}