.parent {
  display: grid;
  grid-template-columns: 175px 1fr 175px;
  grid-template-rows: 50px 125px 800px;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 4;
  background-color: aqua;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: beige;
}
.div3 {
  grid-area: 3 / 1 / 5 / 2;
  background-color: crimson;
}
.div4 {
  grid-area: 2 / 2 / 5 / 3;
  background-color: darkslategray;
}
.div5 {
  grid-area: 2 / 3 / 5 / 4;
  background-color: peru;
}
